<% provide(:title, 'Project') %>
<li>title</li>
<%= @project.title %>
<li>Description</li>
<%= @project.description %>
<div class="row">
  <aside class="col-md-4">
  </aside>
  <%= link_to "Add new admin/developer", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Delete developer", users_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Add projects", new_project_path, class: "btn btn-lg btn-primary" %>
</div>