<p>
  <li>Title:</li>
  <%= story.title %>
</p>

<p>
  <li>Description:</li>
  <%= story.description %>
</p>

<p>
  <li>Point:</li>
  <%= story.point %>
</p>

<p>
  <li>Stage:</li>
  <%= story.stage %>
</p>

<p>
  <li>Developer:</li>
      <%= story.users.each do |u| %>
        <p>Name:<%= u.name %></p>
        <p>Email:<%= u.email %></p>
      <% end %>
</p>
<p>
  <% if !current_user.admin? && @project.id == current_user.project_id &&current_user.story_id ==nil %>
  <%= link_to 'Sign Up' , @story %>
  <% end %>
  <% if !current_user.admin? && @project.id == current_user.project_id %>
  <%= link_to 'Destroy Story',[story.project,story],method: :delete, data:{confirm: 'are you sure?'}%>
  <% end%>
</p>